# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
**/.env

# IDE
.vscode/
.idea/

# Test cache
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Executables
*.exe